{% extends 'base.html' %}
{% load static %}
{% block title %} Chatbot {% endblock %}
{% block extratop %} 
    <style>
        .right-chat {
            background-color: #0065e1; 
            width: 80%; 
            margin-left: auto !important; 
            padding: 0.8rem; 
            border-radius: 1rem; 
            margin-top: 0.6rem; 
            color: white;
        }

        .left-chat {
            background-color: white; 
            width: 80%; 
            margin-right: auto !important; 
            padding: 0.8rem; 
            border-radius: 1rem; 
            margin-top: 0.6rem; 
            color: #0065e1;
        }

        ::-webkit-scrollbar {
            width: 8px;
        }
        
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #0065e1; 
            border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px white; 
        }


    </style>
{% endblock %}
{% block body %}
{% include 'navbar.html' %}

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg" style="margin-bottom: 2rem; margin-top: 6rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2 style="font-size: 4rem;">Chatbot</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <section class="regervation_part section_padding">
        <div class="container">
            <div class="row align-items-center regervation_content">
                <div class="col-lg-12">
                    <div class="regervation_part_iner">
                        <form>
                            <h2 style="font-size: 3rem; text-align:center;">Chat Section</h2>
                            <div class="container chat-section" style="border: 2px solid white; height: 30rem; width: 80%; margin: auto !important; overflow-y: scroll; float: bottom; padding-bottom: 1rem;">
                                <div class="left-chat">
                                    Hi This is a response
                                </div>
                                <div class="right-chat">
                                    Hi This is a query
                                </div>
                                <div class="left-chat">
                                    Hi This is a response
                                </div>
                                <div class="right-chat">
                                    Hi This is a query
                                </div>
                                <div class="left-chat">
                                    Hi This is a response
                                </div>
                                <div class="right-chat">
                                    Hi This is a query
                                </div>
                                <div class="left-chat">
                                    Hi This is a response
                                </div>
                                <div class="right-chat">
                                    Hi This is a query
                                </div>
                                <div class="left-chat">
                                    Hi This is a response
                                </div>
                                <div class="right-chat">
                                    Hi This is a query
                                </div>
                            </div>
                            <div class="form-row col-lg-10" style="margin: auto; margin-top: 2rem;">
                                <div class="container" style="padding: auto;">
                                    <div class="row">
                                        <div class="col-lg-12 mb-5 mb-lg-0" style="text-align: center;">
                                            <button class="btn btn-primary" type="button" onclick="record()" style="padding: 1.2rem 3rem; font-size: 1.6rem;">Record</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </section>

    {% include 'footer.html' %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function record() {
    $('#recordbutton').removeClass('btn-primary');
    $('#recordbutton').addClass('btn-danger');

    fetch(window.location.href.split('/').slice(0,3).join('/')+'/api/record', {
      method: 'get',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
      },
    })
    .then(response => {
        $('#recordbutton').removeClass('btn-danger');
        $('#recordbutton').addClass('btn-primary');
        return response.json()
    })
    .then(data => {
        // Work with JSON data here
        console.log(data);
    })
    .catch(err => {
        // Do something for an error here
    });
  }
</script>
{% endblock %}