{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block body %}
{% include 'navbar.html' %}
<style>
    .question, .answer {
        border: 2px solid #dedede;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }
    .question {
        background-color: #000;
        border-color: #eee;
    }

    .question p {
        color: #ddd;
    }

    .answer {
        background-color: #f1f1f1;
    }

    .answer p {
        color: #333;
    }

    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .time {
        float: right;
        color: #aaa;
    }

    #chatbox {
        border: 2px solid;
        border-radius: 5px;
    }

    #new_question {
        background-color: #681515;
    }
</style>

<!-- feature_part start-->
<section class="feature_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_tittle text-center">
                    <h1>Session {{session.count}}</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="{% if not meta.disorder %}offset-lg-3{% endif %} col-lg-6 col-sm-12 pt-2 mt-2 pb-2" id="chatbox">
                <h2 class="pt-2 pb-1 text-center">Your Questions</h2>
                {% for game in games %}
                <div class="question container">
                    <b>Question</b>
                    <p>{{game.question}}</p>
                    <span class="time">{{game.question_time|date:"j M"}} {{game.question_time|time:"h:i A"}}</span>
                </div>
                <div class="answer container">
                    <b>Answer</b>
                    <p>{{game.answer}}</p>
                    <span class="time">{{game.answered_time|date:"j M"}} {{game.answered_time|time:"h:i A"}}</span>
                </div>
                {% empty %}
                <p class="text-center">Session {{session.count|add:"-1"}} is over, click <a href="{% url 'logout' %}">here</a> to logout</p>
                {% endfor %}
                {% if last_game %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="question container" id="new_question">
                        <b>New Question</b>
                        <p>{{last_game.question}}</p>
                        <span class="time">{{last_game.question_time|date:"j M"}} {{last_game.question_time|time:"h:i A"}}</span>
                    </div>
                    <input type="hidden" name="gid" value="{{last_game.id}}">
                    <div class="input-group mb-2">
                        {% if session.count == 1 %}
                        <input type="text" class="form-control form-control-lg" placeholder="Your Answer" name="answer">
                        {% else %}
                        <select class="form-control" placeholder="Your Answer" name="answer">
                            <option value="1">1 (Very Low)</option>
                            <option value="2">2 (Low)</option>
                            <option value="3">3 (Normal)</option>
                            <option value="4">4 (High)</option>
                            <option value="5">5 (Very High)</option>
                        </select>
                        {% endif %}
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    <!-- <input type="text" name="answer" class="form-control">
                    <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
                {% else %}
                <p class="text-center">No New Questions to answer at the moment<br>Click <a href="{% url 'game' %}">here</a> to go to the game</p>
                {% endif %}
            </div>

            {% if meta.disorder %}
            <div class="col-lg-6 col-sm-12 pt-2 mt-2 pb-2 pl-4 text-center">
                <h2>We have detected that you might have {{meta.disorder}}</h2>
                <p>Here's your progress dealing with it</p>
                <div id='sessionchart' style='width:100%'>
                </div>
                <div id='gamechart' style='width:100%'>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- feature_part start-->



    {% include 'footer.html' %}

{% endblock %}

{% block extrajs %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"> </script>
<script type='text/javascript'>
function makeChart(query, xlabels, ydata, bottom_text) {
    var options = {
        chart: {
            height: 350,
            type: 'line',
        },
        colors:['#fd7e14'],
        plotOptions: {
            line: {
                dataLabels: {
                    position: 'top', // top, center, bottom
                },
            }
        },
        dataLabels: {
            enabled: true,
        },
        series: [{
            name: 'Score',
            data: ydata,
        }],
        xaxis: {
            position: 'top',
            labels: {
                show: true,
                offsetY: -18,
                formatter: function (val) {
                    labels = xlabels
                    return labels[val-1];
                },
                style: {
                    colors: [],
                    fontSize: '12px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    fontWeight: 400,
                    cssClass: 'apexcharts-xaxis-label',
                },
            },
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            },
            crosshairs: {
                fill: {
                    type: 'gradient',
                    gradient: {
                        colorFrom: '#FD7E14',
                        colorTo: ' #6610f2;',
                        stops: [0, 100],
                        opacityFrom: 0.7,
                        opacityTo: 1,
                    }
                }
            },
            tooltip: {
                enabled: true,
                offsetY: -35,

            }
        },
        fill: {
            gradient: {
                shade: 'light',
                type: "horizontal",
                shadeIntensity: 0.25,
                gradientToColors: undefined,
                inverseColors: true,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [50, 0, 100, 100]
            },
        },
        yaxis: {
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: true,
            },
            max: 100,
            labels: {
                show: false,
                formatter: function (val) {
                    return val;
                }
            }

        },
        title: {
            text: bottom_text,
            floating: true,
            offsetY: 330,
            align: 'center',
            style: {
                color: '#444'
            }
        },
    }

    var chart = new ApexCharts(
        document.querySelector(query),
        options
    );

    chart.render();
}

makeChart("#sessionchart", [3,4,5], {{result_percentages}}, 'Your progress over the sessions');

makeChart("#gamechart", {{growth_sessions}}, {{growth_rates}}, 'Improvement in your stress over the sessions');

</script>

{% endblock %}